* {margin:0;padding:0;}
body {margin:0px;font-family:"微软雅黑",Arial;overflow:-Scroll;overflow-x:hidden;color:#000;}



/*列表布局*/
.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px
}
.gallery #gallery_id{
  flex-grow: 1;
  margin:8px 8px 0px 0px;
  height:200px;
  position: relative;
}
.gallery #img{
  max-height:200px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
}
.gallery:after {
    content: "";
    flex-grow:2;
    flex-basis:50%;
    flex-shrink:1;
}
/*结束*/

.pressing{
    text-align: center;
    position: fixed;
    bottom: 78px;
    left: 0;
    right: 0;
    z-index: 999;
    width: 51%;
    border: 2px solid #fff;
    padding: 7px;
    margin: 0 auto;
}
.pressing p{
    font-size: 1.4rem;
    color:#fff;
}
#goTopBtn{position:fixed;line-height: 38px;width: 46px;bottom: 47px;height: 46px;border-radius:50%;cursor:pointer;display:none;background:#000;-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;color:#FFFFFF;text-align:center;font-size: 3rem;z-index: 990;}
@font-face{font-weight:400;font-style:normal;font-family:SinaHomeFont;src:url(../images/HomeFont.eot);src:url(../images/HomeFont.eot) format('embedded-opentype'),url(../images/HomeFont.woff) format('woff'),url(../images/HomeFont.ttf) format('truetype');}
[class*=" icon_"],[class^=icon_]{text-transform:none;font-weight:400;font-style:normal;font-variant:normal;font-family:SinaHomeFont;line-height:1;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

.icon_top:before{content:"\e60f";}
